<div class="container my-container pb-5">
  <h5 class="mb-3">Reset hasła</h5>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-5">
      <input
        type="text"
        class="form-control eye-input"
        id="email"
        placeholder="email"
        autocomplete="off"
        formControlName="email"
      />
      <label for="email">Adres e-mail:</label>
    </div>

    <div class="text-center">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!resetPasswordForm.valid || emailSending"
      >
        <app-loading-button text="Wyślij" [spinnerVisible]="emailSending" />
      </button>
    </div>
  </form>
</div>
